.carousel-item {
    display: inline-block;
    width: 20%;
    /* Define a largura desejada para cada item (10% para 10 itens) */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.legend {
    margin-top: 10px;
}